body {
	background-color: lightgray;
}

h3 {
	margin-right: auto; 
	margin-left: auto;
	text-align: center;
	color: blue;
	font-weight: bold;
}

.diferente {
	background-color: lightblue;
	font-weight: bolder;
}

.submit	{
	text-align: right;
}


table {
	margin-right: auto;
	margin-left: auto;
	width: 900px;
}




.form	{
	width: 100%;

}

#submit	{
	
width:180px;


}


select {
	text-align: left;
}