body {
	background-color: #89cff0;
}

table  {
   height: 100px;
	width: 100%;
	margin: 0; padding: 0;
	border-collapse: collapse;
}

img {
	max-width: 100%;
	display: block;
}

th{
	background-color: white;
}

.empty_row {
	display: block;
	margin-top: 5px;
}

td:first-child {
	line-height: 10px;
	text-align: center;
	background-color: white;
}

#cell-none {
	background-color: #89cff0;
}

td {
	border: 2px solid black;
	color: white;
}

.texto_1 {
	vertical-align: top;
	line-height: 120%;
}

.texto_2 {
	text-align: center;
}

.imagem_diferente {
	height: 25%;
	width: 65%;
	margin-top: 10px;
	margin-bottom: 10px;
}

a:link {
	color: black;
}

a:visited {
	color: gray;
}

.telefone_row {
	border-top: 2px solid #89cff0;
	border-left: 2px solid #89cff0;
	border-bottom: 2px solid #89cff0;
	padding-left: 270px;
	color: black;
	background-color: white;
}

.white-cell {
	background-color: white;	
}