body {
	background-color: #89cff0;
}

table {
}

img {
	max-width: 100%;
	display: block;
}

th{
	background-color: white;
}

td:first-child {
	text-align: center;
}

td {
	color: white;
}

.texto_2 {
	text-align: center;
}

.imagem_diferente {
	size: 50%;
}

a:link {
	color: black;
}

a:visited {
	color: gray;
}

.telefone_row {
	color: black;
	background-color: white;
	text-align: center;
}